@charset "utf-8";
/*-------------------
*Description:        By www.yiwuku.com
*Website:            https://app.zblogcn.com/?id=1558
*Author:             尔今 erx@qq.com
*update:             2017-11-30(Last:2019-09-12)
-------------------*/

#lr_mainbar{position:fixed;bottom:-100%;left:0;width:100%;height:auto;line-height:1;text-align:center;margin:0;border:0;padding:20px 0;z-index:99999;}
#lr_mainbar .lr_mbg{position:absolute;bottom:0;left:0;width:100%;height:100%;background:#000;opacity:.68;z-index:-1;}
#lr_mainbar .lr_tip{color:#eee;font-size:14px;line-height:24px;}
#lr_mainbar a{color:#ddd;margin:0 6px;white-space:nowrap;}
#lr_mainbar a:hover{color:#fff;}
.lr_acto a{background:rgba(255,255,255,.18);padding:2px 12px;border-radius:20px;}
.lr_btn{display:inline-block;width:100px;height:38px;line-height:38px;color:#fff;cursor:pointer;font-family:inherit;font-weight:bold;font-size:14px;text-decoration:none;text-align:center;margin:2px 12px 0;border:0;font-style:normal;border-radius:20px;transition:background-color 300ms ease-out;box-shadow:0 -2px 0 rgba(0,0,0,.2) inset;animation-duration:2s;animation-iteration-count:infinite;}
.lr_btn_lg{background-color:#0886A1;animation-name:bluePulse;}
.lr_btn_rg{background-color:#81AA05;animation-name:greenPulse;animation-duration:3s;}
#lr_mform .lr_btn_close{position:absolute;cursor:pointer;transition:all .3s linear}
#lr_mainbar .lr_btn_close{position:absolute;top:50%;right:9px;width:24px;height:24px;line-height:20px;margin:-15px 0 0;color:#bbb;font-size:30px;cursor:pointer;transition:all .3s linear}
#lr_mainbar .lr_btn_close:hover{color:#fff;}
.lr_arrow{display:none;position:absolute;top:0;right:-24px;width:24px;height:50px;line-height:54px;border-radius:0 25px 25px 0;cursor:pointer;overflow:hidden;color:#bbb;}
.lr_arrow:after{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:.68;z-index:-1;}
.lr_arrow .iconfont{margin-left:-4px;font-size:20px;transition:all .3s linear}
.lr_arrow .iconfont:hover{color:#fff;}

#lr_mform{display:none;position:fixed;top:0;left:0;width:100%;height:100%;line-height:1;background:rgba(0,0,0,.68);z-index:99999;}
#lr_mform dl{display:none;position:fixed;top:50%;left:50%;width:380px;max-width:94%;max-height:92%;margin:-15% 0 0 -190px;color:#555;font-size:12px;background:#fff;border-radius:12px;box-sizing:border-box;padding:15px 40px;list-style:none;overflow-x:hidden;overflow-y:auto;}
#lr_mform dt{width:100%;font-size:30px;font-weight:normal;color:#0886A1;text-align:center;padding:20px 0 30px;}
#lr_mform dd{position:relative;width:100%;height:38px;line-height:38px;margin:0 0 20px;clear:both;}
#lr_mform dd .iconfont{position:absolute;top:7px;left:0;line-height:24px;color:#aaa;font-size:20px;z-index:5;}
#lr_mform dd .tip{position:absolute;top:0;left:30px;color:#888;font-size:14px;padding:0;z-index:0;transition:all .5s ease-in-out;}
#lr_mform dd .tip.cu{color:#ccc;font-size:12px;}
#lr_mform dd .tip2{left:auto;right:0;}
#lr_mform .lr_int{position:absolute;top:0;left:0;width:100%;height:100%;font-size:16px;font-weight:bold;border:0;border-bottom:1px solid #ddd;background:none;outline:none;padding:0 0 0 30px;box-sizing:border-box;vertical-align:middle;z-index:3;}
#lr_mform .lr_icode .lr_int{font-weight:normal;font-size:14px;}
#lr_mform .lr_more label{display:inline-block;font-weight:normal;}
#lr_mform .lr_more a{color:#0886A1;}
#lr_mform .lr_more a:hover{text-decoration:underline;}
#lr_mform .lr_chk{margin:-1px 2px 0 0;vertical-align:middle}
#lr_mform .lr_post{position:relative;width:100%;height:40px;color:#fff;font-size:16px;font-weight:bold;border:0;cursor:pointer;background:#0886A1;border:0;border-radius:20px;outline:none;box-sizing:border-box;transition:all .2s linear;}
#lr_mform .lr_post.act{color:#ccc;text-shadow:0 -1px rgba(0,0,0,.5);cursor:not-allowed;}
#lr_mform .lr_post.act:after{position:absolute;top:0;left:0;width:100%;height:100%;content:"";
    background:linear-gradient(45deg,rgba(255,255,255,.1) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.1) 50%,rgba(255,255,255,.1) 75%,transparent 75%,transparent);animation:btnAct 2s linear infinite;background-size:40px 40px;}
#lr_mform .lr_post:hover{box-shadow:inset 0 1px rgba(255,255,255,0.4), inset 0 20px 40px rgba(255,255,255,0.25);}
#lr_mform .lr_post.act:hover{box-shadow:none;}
#lr_mform .lr_login .lr_more a{color:#81AA05;}
#lr_mform .lr_reg .lr_post{background:#81AA05;}
#lr_mform .lr_code img, #lr_mform .geticode{position:absolute;top:5px;right:0;max-width:90px;height:28px;border-radius:20px;cursor:pointer;z-index:8;}
#lr_mform .geticode{display:inline-block;line-height:26px;color:#fff;background:#0886A1;padding:0 12px;}
#lr_mform .geticode:hover{background:#333;text-decoration:none;}
#lr_mform dl .lr_btn_close{top:0;right:13px;width:auto;color:#bbb;font-size:30px;padding:0;}
#lr_mform dl .lr_btn_close .iconfont{position:static;transition:all .2s linear;}
#lr_mform .lr_btn_close .iconfont:hover{color:#c30;}
#lr_mform dd .flt{float:left;}
#lr_mform dd .frt{float:right;}
#lr_mform .frt a{margin-left:12px;}
#lr_mform .lr_tip_s{height:24px;line-height:24px;color:#f90;}
#lr_mform .lr_tips{display:none;position:absolute;top:50%;left:0;width:100%;height:auto;margin:-28px 0 0;text-align:center;z-index:990;}
#lr_mform .lr_tips div{display:inline-block;max-width:90%;max-height:72px;line-height:24px;padding:15px 20px;background:rgba(0,0,0,.68);color:#fff;box-sizing:border-box;border-radius:100px;overflow:hidden;}
#lr_mform .lr_tips .iconfont{position:static;color:#fff;margin:0 10px 0 0;}
#lr_mform dd.third-login{height:auto;text-align:center;color:#bbb;}
.third-login .oal{border:1px #eee solid;padding:9px 0;border-radius:100px;}
.third-login .oal legend{width:auto;line-height:18px;margin:0 auto;color:#bbb;font-size:12px;padding:0 5px;border:0;}
.third-login span{position:absolute;top:14px;left:0;}
.third-login a{margin:0 6px;}
.third-login img{max-width:30px;vertical-align:middle;}

@media only screen and (max-height: 640px) {
  #lr_mform{position:absolute;background:none;}
  #lr_mform dl{top:20px;margin-top:0;}
  #lr_mform dd{margin:0 0 15px;}
  #lr_mform:after{content:'';display:block;position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.68);z-index:-1;}
}
@media only screen and (max-width: 480px) {
	#lr_mainbar .lr_tip{display:block;margin-bottom:9px;}
	.lr_btn{height:32px;line-height:32px;}
	#lr_mform dl{padding:15px 20px;}
}

.animated{animation-duration: 1s;animation-fill-mode: both;}
.flipInY{backface-visibility: visible !important;animation-name: flipInY;}
.flipOutY{backface-visibility: visible !important;animation-name: flipOutY;}
.bounceIn{animation-name: bounceIn;}
@keyframes bluePulse {
	from { background-color: #007d9a; box-shadow: 0 0 9px #333; }
	50% { background-color: #2daebf; box-shadow: 0 0 18px #2daebf; }
	to { background-color: #007d9a; box-shadow: 0 0 9px #333; }
}
@keyframes greenPulse {
	from { background-color: #749a02; box-shadow: 0 0 9px #333; }
	50% { background-color: #91bd09; box-shadow: 0 0 18px #91bd09; }
	to { background-color: #749a02; box-shadow: 0 0 9px #333; }
}
@keyframes flipInY {
  from {transform: perspective(400px) rotate3d(0, 1, 0, 90deg);animation-timing-function: ease-in;opacity: 0;}
  40% {transform: perspective(400px) rotate3d(0, 1, 0, -20deg); animation-timing-function: ease-in;}
  60% {transform: perspective(400px) rotate3d(0, 1, 0, 10deg);opacity: 1;}
  80% {transform: perspective(400px) rotate3d(0, 1, 0, -5deg);}
  to {transform: perspective(400px);opacity: 1;}
}
@keyframes flipOutY {
  from {transform: perspective(400px);}
  30% {transform: perspective(400px) rotate3d(0, 1, 0, -15deg);opacity: 1;}
  to {transform: perspective(400px) rotate3d(0, 1, 0, 90deg);opacity: 0;}
}
@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
  0% {opacity: 0;transform: scale3d(.3, .3, .3);}
  20% {transform: scale3d(1.1, 1.1, 1.1);}
  40% {transform: scale3d(.9, .9, .9);}
  60% {opacity: 1;transform: scale3d(1.03, 1.03, 1.03);}
  80% {transform: scale3d(.97, .97, .97);}
  to {opacity: 1;transform: scale3d(1, 1, 1);}
}
@keyframes btnAct {
  from { background-position: 0 0;}
  to { background-position: 40px 0;}
}

@font-face {font-family: "iconfont";
  src: url('../nodel/fonts/iconfont_1.eot'); /* IE9 */
  src: url('../nodel/fonts/iconfont_1.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../nodel/fonts/dd843fd9d6a54a97bc2cd9e5081d02b3.woff') format('woff2'),
  url('../nodel/fonts/iconfont_1.woff') format('woff'),
  url('../nodel/fonts/iconfont_1.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../nodel/fonts/iconfont_1.svg') format('svg'); /* iOS 4.1- */
}

.iconfont { font-family: "iconfont" !important; font-size: 16px; font-style: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.icon-lr-nickname1:before { content: "\e618"; }
.icon-lr-password:before { content: "\e604"; }
.icon-lr-webmail:before { content: "\e603"; }
.icon-lr-close:before { content: "\e623"; }
.icon-lr-safe1:before { content: "\e727"; }
.icon-lr-double-arrow-right:before { content: "\e600"; }
.icon-lr-xinxi:before { content: "\e69e"; }
.icon-lr-ic_tab_username:before { content: "\e613"; }
.icon-lr-cfmpassword:before { content: "\e675"; }
.icon-lr-password1:before { content: "\e676"; }
.icon-lr-invite2:before { content: "\e60f"; }
.icon-lr-qq:before { content: "\e62b";}
.icon-lr-tel:before { content: "\e601";}
.icon-lr-wechat:before { content: "\e6d6";}