<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Player</title>
    <link rel="shortcut icon" href="./img/03 综合应用-Shorticon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/Vue+Axios ColdIce Player.css">
</head>

<body>
    <div class="wrap">
        <!-- 播放器主体部分 -->
        <div class="play-wrap" id="player">
            <!-- 顶部搜索栏 -->
            <div class="search-bar">
                <img src="./img/ColdIce.png" alt="" height="50px">
                <input type="text" placeholder="搜索音乐、歌曲名" v-model="query" @keyup.enter="searchMusic"
                    @dblclick="searchMusic">
            </div>
            <!-- 核心区 -->
            <div class="center-con">
                <!-- 歌曲列表 -->
                <div class="song-wrapper" ref="song-wrapper">
                    <ul class="song-list" style="padding-left:0">
                        <li v-for="item in musicList" @dblclick="playMusic(item.id)">
                            <a href="javascript:;" @click="playMusic(item.id)"></a>
                            <b>{{item.name}}</b>
                            <span v-if="item.mvid!=0" @click="playMv(item.mvid)" @pause="pause">
                                <i></i>
                            </span>
                        </li>
                    </ul>
                    <img src="./img/03 综合应用-Line.png" class="switch-line" alt="">
                </div>
                <!-- 歌曲封面展示 -->
                <div class="player-con" :class="{playing:isPlaying}">
                    <img src="./img/03 综合应用PlayerBar.png" alt="" class="play-bar">
                    <img src="./img/03 综合应用PlayerDisc.png" alt="" class="disc autoRotate">
                    <img :src="musicCover" alt="" class="cover autoRotate">
                </div>
                <!-- 评论展示 -->
                <div class="comment-wrapper" ref="comment-wrapper">
                    <h5 class="title">热门评论</h5>
                    <div class="comment-list">
                        <dl v-for="item in hotComments">
                            <dt>
                                <img :src="item.user.avatarUrl" alt="">
                            </dt>
                            <dd class="name">{{item.user.nickname}}</dd>
                            <dd class="detail">{{item.content}}</dd>
                        </dl>
                    </div>
                    <img src="./img/03 综合应用-Line.png" alt="" class="right-line">
                </div>
            </div>
            <!-- 底部播放栏 -->
            <div class="audio-con">
                <audio ref="audio" :src="musicUrl" @play="play" @pause="pause" controls autoplay loop
                    class="myaudio"></audio>
            </div>
            <div class="video-con" v-show="isShow">
                <video ref="video" :src="mvUrl" controls="controls"></video>
                <div class="mask" @click="hideMv"></div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./js/Vue+Axios ColdIce Player.js"></script>
</body>

</html>